# ch-note2-string.ipynb by PA24

## 이스케이프 코드

## 여러줄 문자열 처리

In [3]:
multiline = '''
... Life is too short
... You need python
... '''
multiline
print(multiline)

Life is too short
You need python

In [10]:
multiline = """
Life is short
you need python

"""
multiline
print(multiline)

Life is short
you need python

In [5]:
print("문자열 연산: 더하기")
head = "Python"
tail = " is fun!"
head + tail

문자열 연산: 더하기

'Python is fun!'

In [8]:
s1 = "HCit"
s2 = ' is best!'
s1+s2

'HCit is best!'

In [11]:
print("문자열 연산: 곱하기")
a = "python"
a * 2

문자열 연산: 곱하기

'pythonpython'

In [12]:
a*5

'pythonpythonpythonpythonpython'

## multistring.py

In [14]:
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)

==================================================
I am now coding Python!
==================================================

## 내장함수: len()

In [15]:
print("문자열 연산: 길이 구하기 - len()")
a = "Life is too short"
len(a)

문자열 연산: 길이 구하기 - len()

17

## 문자열 인덱싱과 슬라이싱

In [17]:
a = "Life is too short, You need Python"
a[3]

'e'

In [18]:
a[0]

'L'

In [19]:
a[1]

'i'

In [20]:
a[15]

'r'

## "파이썬은 0부터 숫자를 센다."

In [21]:
print("문자열: 인덱싱 활용")

a = "Life is too short, You need Python"
a[0]

문자열: 인덱싱 활용

'L'

In [22]:
a[12]

's'

In [23]:
a[-1]

'n'

## a[-0]

In [24]:
a[-2]

'o'

In [25]:
a[-6]

'P'

In [26]:
a[-12]

' '

In [27]:
a[0]

'L'

In [28]:
a[-0] # 0 = -0

'L'

## 문자열: 슬라이싱이란?

## Life 를 뽑아낼려면 어떻게?

In [30]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]  # 문자열 더하기 연산
b

'Life'

## slicing (슬라이싱)

In [31]:
a[0:4]

'Life'

In [32]:
b=a[0:4]
b

'Life'

In [33]:
b=a[:4]
b

'Life'

In [34]:
a[0:5]

'Life '

In [35]:
a[5:7]

'is'

## : 의 사용

In [36]:
a[:4]

'Life'

In [37]:
a[19:]

'You need Python'

In [38]:
a[:17]

'Life is too short'

In [39]:
a[:]

'Life is too short, You need Python'

## a[19:-7] ?

In [40]:
a[19:-7]

'You need'

In [41]:
a[19:-6]

'You need '

## 문자열: 슬라이싱 응용?

In [42]:
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
date

'20190909'

In [43]:
weather

'Sunny'

In [44]:
a = "20190917Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year,day,weather

('2019', '0917', 'Rainy')

## "Pithon"이라는 문자열을 "Python"으로 바꾸려면?

In [45]:
a = "Pithon"
a = "Pithon"
a

'Pithon'

In [46]:
a[1]

'i'

## Error (immutable한 자료형)

In [47]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [48]:
a = "Pithon"
a[:1]

'P'

In [49]:
a[2:]

'thon'

In [52]:
b = a[:1] + 'y' + a[2:]
b

'Python'

# 1. 숫자 바로 대입

In [53]:
"I eat %d apples." % 3

'I eat 3 apples.'

# 2. 문자열 바로 대입

In [54]:
"I eat %s apples." % "five"

'I eat five apples.'

# 3. 숫자 값을 나타내는 변수로 대입

In [55]:
number = 3

In [56]:
"I eat %d apples." % number

'I eat 3 apples.'

# 4. 2개 이상의 값 넣기

In [57]:
number = 10

In [58]:
day = "three"

In [59]:
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열: 포맷 코드

In [60]:
"I have %s apples" % 3

'I have 3 apples'

In [61]:
"rate is %s" % 3.234

'rate is 3.234'

In [63]:
"Error is %d%%." % 98

'Error is 98%.'

## 문자열: 포맷 코드와 숫자 함께 사용하기

# 1. 정렬과 공백

In [64]:
"%10s" % "hi"

'        hi'

In [67]:
"%30s" % "hi"

'                            hi'

In [68]:
"%s" % "hi"

'hi'

In [69]:
"%-10sjane." % "hi"

'hi        jane.'

# 2. 소수점 표현하기

In [70]:
"%0.4f" % 3.42134234

'3.4213'

In [71]:
"%10.4f" % 3.42134234

'    3.4213'

## 문자열: format 함수를 사용한 포매팅

# 1. 숫자 바로 대입하기

In [72]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [73]:
"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

# 2. 문자열 바로 대입하기

In [74]:
"I eat {0} apples".format("five")

'I eat five apples'

In [75]:
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

# 3. 숫자 값을 가진 변수로 대입하기

In [77]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [78]:
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

In [79]:
"I eat {0} apples".format(number + 9)

'I eat 12 apples'

# 2개 이상의 값 넣기

In [80]:
number = 10
day = "three"

In [81]:
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

# 이름으로 넣기

In [82]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [84]:
"I ate {number} apples. so I was sick for {day} days.".format(number=7, day=9)

'I ate 7 apples. so I was sick for 9 days.'

# 인덱스와 이름을 혼용해서 넣기

In [83]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

# 왼쪽 정렬/ 오른쪽 정렬

In [85]:
"{0:<10}".format("hi")

'hi        '

In [86]:
"{0:>10}".format("hi")

'        hi'

# 가운데 정렬

In [87]:
"{0:^10}".format("hi")

'    hi    '

# 공백 채우기

In [89]:
"{0:=^10}".format("hi")

'====hi===='

In [90]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [91]:
"{0:!>10}".format("hi")

'!!!!!!!!hi'

# 도전하기

In [92]:
"{0:<10}{1:>10}".format("hi",'hcit')

'hi              hcit'

# 소수점 표현하기

In [93]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [94]:
"{0:10.4f}".format(y)

'    3.4213'

# { 또는 } 문자 표현하기

In [95]:
"{{ and }}".format()

'{ and }'

# f 문자열 포매팅 
 .format() 대체

In [97]:
print("문자열: f 문자열 포매팅")

문자열: f 문자열 포매팅

In [98]:
name = "홍길동"
age = 30

In [99]:
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [100]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용

In [101]:
d = {"name": "홍길동", "age": 30}
d

{'name': '홍길동', 'age': 30}

In [102]:
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

# 정렬

In [103]:
f'{"hi":<10}'  # 왼쪽 정렬

'hi        '

In [104]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [105]:
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

# 공백 채우기

In [106]:
y = 3.42134234
f"{y:0.4f}"  # 소수점 4자리까지만 표현

'3.4213'

In [107]:
f"{y:10.4f}"

'    3.4213'

# { } 문자를 표시

In [108]:
f"{{ and }}"

'{ and }'

## 문자열: 관련 내장 함수들

# 문자 개수 세기(count)

In [109]:
a = "hobby"
a

'hobby'

In [110]:
type(a)

str

In [111]:
a.count("b")

2

# 위치 알려주기1(find)

In [112]:
a = "Python is the best choice"
a

'Python is the best choice'

In [113]:
a.find("b")

14

In [114]:
a.find("k")

-1

# 위치 알려주기2(index)

In [115]:
a = "Life is too short"
a.index("t")

8

In [116]:
a.index("k")

ValueError: substring not found

# 문자열 삽입(join)

In [117]:
",".join("abcd")

'a,b,c,d'

In [118]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

# 소문자를 대문자로 바꾸기(upper)

In [119]:
a = "hi"
a.upper()

'HI'

# 대문자를 소문자로 바꾸기(lower)

In [122]:
a = "IoT"
a.lower()

'iot'

# 왼쪽 공백 지우기(lstrip)

In [123]:
a = " hi "
a.lstrip()

'hi '

# 오른쪽 공백 지우기(rstrip)

In [124]:
a.rstrip()

' hi'

# 양쪽 공백 지우기(strip)

In [125]:
a.strip()

'hi'

# 문자열 바꾸기(replace)

In [126]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

# 문자열 나누기(split) -> 리스트로 변환하여 반환

In [127]:
a = "Life is too short"
a

'Life is too short'

In [128]:
type(a)

str

In [129]:
a.split()

['Life', 'is', 'too', 'short']

# 도전하기

In [130]:
"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'