# ch2-note8-variable.ipynb PA24

# 변수: 변수란?
## - 변수는 자료(값)을 저장하는 공간이다.

In [3]:
a = [1, 2, 3]
a

[1, 2, 3]

In [4]:
type(a)

list

In [5]:
id(a) # a 변수가 가리키는 메모리의 주소

141941632

## list

In [6]:
a = [1, 2, 3]
id(a)

141886400

In [7]:
b=[1,2,3]
id(b)

142389568

In [8]:
a==b

True

In [9]:
a

[1, 2, 3]

In [11]:
b = a
id(a), id(b)

(141886400, 141886400)

In [12]:
a is b

True

In [13]:
a==b

True

In [14]:
a[1] = 4
a

[1, 4, 3]

In [15]:
b

[1, 4, 3]

In [16]:
a, b

([1, 4, 3], [1, 4, 3])

In [17]:
a is b

True

In [19]:
b = [1, 2, 3]
id(b)

142808000

In [20]:
a is b

False

# b 변수를 생성할 때 a 변수의 값을 가져오면서
 ## a와는 다른 주소를 가리키도록 만들수는 없을까?
  다음 2가지 방법이 있다.

# 1. [:] 이용

In [22]:
a = [1, 2, 3]
a[:]

[1, 2, 3]

In [23]:
b = a[:]
b==a

True

In [24]:
b is a

False

In [25]:
a[1] = 4
a, b

([1, 4, 3], [1, 2, 3])

# 2. copy 모듈 이용

In [27]:
a = [1, 2, 3]
from copy import copy
b = copy(a)
a==b

True

In [28]:
b is a, a is b

(False, False)

# 변수를 만드는 여러 가지 방법

In [29]:
a, b = ("python", "life")
a

'python'

In [30]:
b

'life'

In [31]:
a, b

('python', 'life')

In [32]:
[a, b] = ["python", "life"]
a

'python'

In [33]:
b

'life'

In [35]:
a = 3
b = 5
a, b = b, a #swaping
a

5

In [36]:
b

3

In [38]:
a = [3,4,5,6]
id(a)

143630080