<a href="https://colab.research.google.com/github/kyovy6648/pa24/blob/main/ch8/ch8_exercises_pa24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [1]:
# [Q1] Code-1 

a = "a:b:c:d"
b = a.split(":")
b
['a', 'b', 'c', 'd']

['a', 'b', 'c', 'd']

In [2]:
c = "#".join(b)
c

'a#b#c#d'

In [4]:
# [Q1] Code-2
def split_join(str, split_str, join_str):
    return join_str.join(str.split(split_str))  
split_join("a:b:c:d", ":", "#")

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [5]:
# [Q2] Code-1
a = {'A':90, 'B':80}
a.get('C', 70)

70

In [6]:
# [Q2] Code-2
a = {'A':90, 'B':80}
a['C'] = 70          
a['C']

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [7]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1, 2, 3]
id(a)
#현재 a라는 리스트는 140557373746384 주소에 저장되어있음

140557373746384

In [9]:
a = a + [4,5] #리스트 a에 + 기호를 사용하여 [4, 5]라는 리스트를 더했음
print(a) #이전에 리스트 a가 저장되어 있던 주소와 다른 값을 돌려주는 것을 확인할 수 있다.
id(a)    #+를 사용하면 리스트 a의 값이 변하는 것이 아니라 두 리스트가 더해진 새로운 리스트가 반환된다는 것을 확인할 수 있다.

[1, 2, 3, 4, 5, 4, 5]

140557312588928

In [10]:
a = [1,2,3]
id(a) #140557312242464라는 주소를 갖고있다.

140557312242464

In [11]:
a.extend([4,5])  #이전에 리스트 a가 저장되어 있던 주소와 다른 값을 돌려주는 것을 확인할 수 있다.
print(a) # +를 사용하여 리스트를 더하면 이전과 다른 주소를 갖고 extend를 사용하면 이전과 같은 주소를 갖는다.
id(a)

[1, 2, 3, 4, 5]

140557312242464

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [12]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

result = 0
while A:                
    mark = A.pop()      
    if mark >= 50:      
        result += mark

print(result)

481

In [13]:
# [Q4] Code-2
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0

for i in A: 
  if i >= 50:
    result += i

print(result)

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [14]:
# [Q5] Code-1
def fib(n):
    if n == 0 : return 0          
    if n == 1 : return 1          
    return fib(n-2) + fib(n-1)    

for i in range(10):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [15]:
# [Q5] Code-2

b=0
a = int(input("n번째 숫자만큼의 입력하세요.:"))
def fibo(num):
    if num == 0: return 0             # num이 0일때 0 리턴
    if num == 1: return 1             # num이 1일때 1리턴
    return fibo(num-2) + fibo(num-1)  # num이 2이상일 경우 fibo(num-2)과 fibo(num-1)을 반환하여 더함

for i in range(a):
    print(fibo(i), end = " ")

n번째 숫자만큼의 입력하세요.:13
0 1 1 2 3 5 8 13 21 34 55 89 144

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [17]:
# [Q6] Code-1
user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",")
total = 0
for n in numbers:
    total += int(n)    
print(total)

숫자를 입력하세요: 512,523
1035

In [18]:
# [Q6] Code-2

numbers = map(int, input("숫자를 입력하세요: ").split(","))   
total = 0
for n in numbers:
    total += n
print(total)

숫자를 입력하세요: 41,23,41
105

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [19]:
# [Q7] Code-1

user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)       
for i in range(1, 10):
    print(i*dan, end= ' ')

구구단을 출력할 숫자를 입력하세요(2~9):5
5 10 15 20 25 30 35 40 45

In [20]:
# [Q7] Code-2

gugudan_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")

list1 = [ n*int(dan) for n in range(1,10) for dan in gugudan_input ]
print(list1)

구구단을 출력할 숫자를 입력하세요(2~9):3
[3, 6, 9, 12, 15, 18, 21, 24, 27]

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [35]:
# [Q8] Code-1
f = open('abc.txt', 'r')
lines = f.readlines()    
f.close()

lines.reverse()          

f = open('abc.txt', 'w')
for line in lines:
    line = line.strip()  
    f.write(line)
    f.write('\n')       
f.close()

EEE
DDD
CCC
BBB
AAA

In [42]:
# [Q8] Code-2
f = open('abc.txt','r')    
eng = f.readlines()        
f.close()

for eng in reversed(open("abc.txt").readlines()):   
    print(eng.strip())

AAA
BBB
CCC
DDD
EEE

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [46]:
# [Q9] Code-1

f = open("sample.txt",'r')
grade = f.readlines()
grade = list(map(int, grade))

Sum = sum(grade)
average = Sum/len(grade)
print("총합: %d"%Sum)

f = open("result.txt", "w")
f.write(str(average))         
f.close()

f = open("result.txt","r")
average = f.read()
print("평균:",average)
f.close()

총합: 790
평균: 79.0

In [48]:
# [Q9] Code-2
f = open("sample.txt")
grade = f.readlines( )        
f.close( )
Sum = 0

for num in grade:
    score = int(num)          
    Sum += score
average = Sum / len(grade)
print(Sum)

f = open("result.txt", "w")
f.write(str(average))          
f.close()

f = open("result.txt","r")
grade_average = f.read()
print(grade_average)
f.close()

790
79.0

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [49]:
# [Q10] Code-1

class Calculator:
    def __init__(self, numberList): 
        self.numberList = numberList

    def sum(self): 
        result = 0
        for num in self.numberList: 
            result += num
        return result

    def avg(self):
        total = self.sum()
        return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5]) 
print (cal1.sum())
print (cal1.avg())

cal2 = Calculator([6,7,8,9,10]) 
print (cal2.sum())
print (cal2.avg())

15
3.0
40
8.0

In [50]:
# [Q10] Code-2

class Calculator:
    def __init__(self, numberList):
        self.numberList = numberList
 
    def sum(self):  
        result = 0
        for num in self.numberList: 
            result += num
        return result

class UpgradeCalculator(Calculator):
    def avg(self):
        total = self.sum()
        return total / len(self.numberList)

cal1 = UpgradeCalculator([1,2,3,4,5])
print(cal1.sum())
print(cal1.avg())
cal2 = UpgradeCalculator([6,7,8,9,10])
print(cal2.sum())
print(cal2.avg())

15
3.0
40
8.0



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [ ]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [ ]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [52]:
# [Q11] Code-1
import sys
sys.path.append("c:/doit")
import mymod

In [ ]:
# [Q11] Code-2
import os
print(os.getcwd())
os.chdir("/content/doit")
import mymod

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [53]:
# [Q12] Explain (코드와 주석으로 설명하시오)

result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [54]:
# [Q13] Code-1
data = "4546793"
numbers = list(map(int, data))   # 숫자 문자열을 숫자 리스트로 변경
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:                   # 다음 수가 있다면
        is_odd = num % 2 == 1                # 현재 수가 홀수
        is_next_odd = numbers[i+1] % 2 == 1  # 다음 수가 홀수
        if is_odd and is_next_odd:           # 연속 홀수
            result.append("-")
        elif not is_odd and not is_next_odd: # 연속 짝수
            result.append("*")

print("".join(result))

454*67-9-3

In [56]:
# [Q13] Code-2

a=input("숫자를 입력하세요: ")
b=[]

for i in range(0,len(a)-1):
    if (int(a[i])%2==0 and int(a[i+1])%2==0) : 
        b.append(a[i]+"*")  
    elif (int(a[i])%2==1 and int(a[i+1])%2==1) : 
        b.append(a[i]+"-")  
    else :
        b.append(a[i])

print("".join(b)+a[len(a)-1])

숫자를 입력하세요: 4546793
454*67-9-3

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [57]:
# [Q14] Code-1
def compress_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c!=_c:
            _c = c
            if cnt: result += str(cnt)
            result += c
            cnt = 1
        else:
            cnt +=1
    if cnt: result += str(cnt)
    return result

print (compress_string("aaabbcccccca"))

a3b2c6a1

In [58]:
# [Q14] Code-2
i=input("압축할 문자열을 입력하세요: ")
elst=[i[0]]
c=1
for n in range(len(i)-1):
    if i[n]==i[n+1]:
        c+=1
    else:
        elst.append(str(c))
        elst.append(i[n+1])
        c=1
elst.append(str(c))
print("".join(elst))

압축할 문자열을 입력하세요: aaabbcccccca
a3b2c6a1

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [59]:
# [Q15] Code-1

def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10

print(chkDupNum("0123456789"))      
print(chkDupNum("01234"))           
print(chkDupNum("01234567890"))     
print(chkDupNum("6789012345"))      
print(chkDupNum("012322456789"))

True
False
False
True
False

In [60]:
# [Q15] Code-2
input_list = "0123456789 01234 01234567890 6789012345 012322456789"

for input in input_list.split(" "):
    if len(input) != 10 or len(input) != len(set(input)):
        print("False")
    else:
        print("True")

True
False
False
True
False

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [61]:
# [Q16] Code-1
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def morse(src):
    result = []
    for word in src.split("  "):
        for char in word.split(" "):
            result.append(dic[char])
        result.append(" ")
    return "".join(result)


print(morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY

In [62]:
# [Q16] Code-2
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z', '':' '
}
morse=".... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--"
word=morse.split(" ")
for i in word:
    print(dic[i],end="")

HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb